#title-logo {
  cursor: pointer;
}
#top-line{
  display:inline-block;
  width: 100%;
}
#header-button{
  text-align: left;
  margin-top: 20px;
  margin-left:20px;
}
#header-image {
  float:right;
}
#header-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(110, 109, 109);
}
#header-button {
  
	border-radius:4px;
	display:inline-block;
	cursor: pointer;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
}

#back-button{
  height: 30px;
}
#header-button:active {
	position:relative;
	top:1px;
}
#restaurants-display{
  width: 100%;
  text-align: center;
}

#restaurant-tile {
  height: 900px;
  width: 900px;
  visibility: hidden;
  text-align: center;
}

#address-menu{
  position: absolute;
  top: 650px;
  left: 150px;
  
}
#back-button {
  visibility: hidden;
}