h1{
    text-align: center;
}

 #buttons{
     opacity: 75%;
     cursor: pointer;
        } 


  #FastFood{
    font-size: large;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
    float: left;
    
 }

 #TakeOut{
     font-size: large;
    margin-left: 190px;
    margin-right: 50px;
     text-align: center;
    float: left;
     
 }

 #DineIn{
    font-size: large;
    margin-left: 50px;
    margin-right: 50px;
    text-align: right;
     float: right; 
     
 } 

  #Coffee{
    font-size: large;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    
 } 

 #DevPage{
    text-align: center;
    opacity: 75%;
    cursor: pointer;
    margin-top: 100px;
 }