#top-line{
  display:inline-block;
  width: 100%;
}
#header-button{
  text-align: left;
  margin-top: 20px;
  margin-left:20px;
}
#header-image {
  float:right;
}
#header-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(110, 109, 109);
}
#header-button {
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor: pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
  
}
#header-button:hover {
	background-color:#eb675e;
}
#header-button:active {
	position:relative;
	top:1px;
}
#square-article {
  display: inline-block;
  text-align: center;
  width: 400px;
  height: 400px;
  border: 1px solid black;
}
