#top-line{
  display:inline-block;
  width: 100%;
}
#header-button{
  text-align: left;
  margin-top: 20px;
  margin-left:20px;
}
#header-image {
  float:right;
  cursor: pointer;
}
#header-title {
  text-align: center;
}

#header-button {
  
	border-radius:4px;
	display:inline-block;
	cursor: pointer;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
}

#back-button{
  height: 30px;
}
#header-button:active {
	position:relative;
	top:1px;
}

#navDemo
{
  text-align: center;
}

#band{
  align-content: center;
}

.dev-content{
    font-size: 20px;
    text-align: center;
    color: red;
    /* align-content: center; */
    font-family: Arial, Helvetica, sans-serif;
  }

.devs{
  font-style: bold;
}

.paragraph{
  display: flex;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  ;
}

#contact{
  background: lightgray;
}

.footer{
  text-align: center;
  color: red;

}