/************************************* buttons *******************************************/

#top-line{
  display:inline-block;
  width: 100%;
}
#header-button{
  text-align: left;
  margin-top: 20px;
  margin-left:20px;
}
#header-image {
  float:right;
  cursor: pointer;
}
#header-title {
  text-align: center;
}

#header-button {
	border-radius:4px;
	display:inline-block;
	cursor: pointer;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
}

#back-button{
  height: 30px;
}

#header-button:active {
	position:relative;
	top:1px;
}

/************************************* end of buttons *******************************************/

.motto{
  font-style: oblique;
}
.dev-content {
    font-size: 20px;
    text-align: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
  }

.github-image {
  width: 100px;
  height: auto;
  padding: 20px;
}

.github-image {
  width: 50px;
  height: auto;
}

.devs{
  font-style: bold;
  font-size: 18px;
}

.paragraph{
  text-align: center;
}

.github-logo{
  align-content: center;
}

.bold-name{
  font-weight: bold;
}

.paragraph-name{
  display: flex;
  width: 40%;
  margin: auto;
  text-align: center;
}
/************************************* FLIPPING ANIMATION *******************************************/

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

  /* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  max-height: 10px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/************************************* end of FLIPPING ANIMATION *******************************************/

/************************************* PETER *******************************************/


/* hide back of pane during swap */
 .front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 500px;
} 

/* front pane, placed above back */
.front {
  z-index: 2;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 500px;
}

/* back, initially hidden pane */
 .back {
  transform: rotateY(180deg);
  height: 100px;
  position: absolute;
  top: 0px;
  right: 500px;
} 

/************************************* end of PETER *******************************************/

/************************************* BRANDON *******************************************/

/* hide back of pane during swap */
 .frontb, .backb {
  backface-visibility: hidden;
  position: absolute;
  top: 400px;
  left: 500px;
} 

/* front pane, placed above back */
.frontb {
  z-index: 2;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  position: absolute;
  top: 400px;
  left: 500px;
}

/* back, initially hidden pane */
.backb {
  transform: rotateY(180deg);
  height: 100px;
  position: absolute;
  top: 400px;
  right: 400px;
}
/************************************* end of BRANDON *******************************************/


/************************************* SHINGO *******************************************/

/* hide back of pane during swap */
 .fronty, .backy {
  backface-visibility: hidden;
  position: absolute;
  top: 400px;
  left: 500px;
} 

/* front pane, placed above back */
.fronty {
  z-index: 2;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  position: absolute;
  top: 800px;
  left: 500px;  
}

/* back, initially hidden pane */
.backy {
  transform: rotateY(180deg);
  height: 100px;
  position: absolute;
  top: 800px;
  right: 400px;
}
/************************************* end of SHINGO *******************************************/


/************************************* SAM *******************************************/

/* hide back of pane during swap */
 .fronts, .backs {
  backface-visibility: hidden;
  position: absolute;
  top: 400px;
  left: 500px;
} 

/* front pane, placed above back */
.fronts {
  z-index: 2;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  position: absolute;
  top: 1200px;
  left: 500px;
}

/* back, initially hidden pane */
.backs {
  transform: rotateY(180deg);
  height: 100px;
  position: absolute;
  top: 1200px;
  right: 400px;
}

/************************************* end of SAM *******************************************/
